<launch>
    <arg name="mavros" default="true"/>
    <arg name="verbose" default="false"/>

    <!-- Need to run our faked position information -->
    <node name="faked_position" pkg="svo_transform" type="fake_vision_position" output="screen" required="true">
        <param name="verbose" value="$(arg verbose)"/>
    </node>

    <!-- Run MAVROS for now -->
    <group if="$(arg mavros)">
        <!-- <include file="$(find px4)/launch/mavros_posix_sitl.launch"/> -->
        <include file="$(find drone_navigation)/launch/physical/mavros_phys.launch">
            <arg name="firmware" value="px4"/>
        </include>
    </group>

    <!-- Let's also have a transformation for simplicity -->
    <!-- <node name="imu_pos_pub" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 imu_link base_link"/> -->
    <!-- <node name="zed_pos_pub" pkg="tf2_ros" type="static_transform_publisher" args="0.2286 0.02875 -0.00635 0 0.62025 0 zed_camera_center imu_link"/> -->
</launch>


