<launch>
  <!-- LAUNCH FILE FOR GATHERING DATA USING ROSBAG WITH THE PHYSICAL DRONE FLYING MANUALLY.
       IDEA IS TO GATHER DATA: ODOM, CAMERA IMAGES, FAKE LIDAR, ETC. TO THEN USE
       TO TEST SOME "2D" MAPPING PACKAGES OFFLINE: GMAPPING, HECTOR SLAM, AND OTHERS.-->

  <!-- Need the live camera actually running -->
  <include file="$(find ueye_cam)/launch/rgb8.launch"/>

  <!-- ROSBAG record necessary data for the "2D" SLAM packages -->
  <node name="rosbag_record_data" pkg="rosbag" type="record"
        args="record -o ids_data /camera/image_raw /camera/camera_info"/>

</launch>


