<?xml version="1.0"?>
<launch>
    <!-- We probably need to have things use sim time -->
    <param name="use_sim_time" value="true" />
    <!-- Whether we want to use the PX4 collision avoidance package -->
    <arg name="use_avoidance" default="true"/>

    <!-- Set up the Odometry interpretation for TF -->
    <include file="$(find drone_navigation)/launch/modules/util/mavros_pose_to_odom.launch"/>

    <!-- IMPORTANT: Until Mapping exists, we will need to publish this thing statically -->
    <node name="map_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom"/>

    <!-- Launch RVIZ visualization -->
    <include file="$(find air_drone)/launch/display.launch"/>

    <!-- Also need the drone monitor to arm the drone and get it started -->
    <include file="$(find drone_navigation)/launch/simulation/drone_monitor.launch" />

    <!-- Launch the Global: Path File reader, which will just read up a file -->
    <include file="$(find drone_navigation)/launch/modules/global_planners/global_path_reader.launch">
        <arg name="path_file" value="$(find drone_navigation)/launch/missions/simulated/verification/path_verification.txt"/>
    </include>

    <!-- Launch the Local: Path Follower, which will get ready to follow paths -->
    <include file="$(find drone_navigation)/launch/modules/local_planners/local_path_follower.launch">
        <arg name="look_ahead" value="1.15"/>
        <arg name="loiter_duration" value="0.0"/>
        <arg name="use_avoidance" value="$(arg use_avoidance)"/>
    </include>

    <group if="$(arg use_avoidance)">
        <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="stereo_algorithm" type="double" value="1.0" />
            <param name="correlation_window_size" type="double" value="19.0" />
            <param name="disparity_range" type="double" value="32.0" />
            <param name="uniqueness_ratio" type="double" value="40.0" />
            <param name="speckle_size" type="double" value="1000.0" />
            <param name="speckle_range" type="double" value="2.0" />
        </node>

        <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" >
            <param name="goal_x_param" value="0" />
            <param name="goal_y_param" value="0"/>
            <param name="goal_z_param" value="1" />
            <param name="depth_points_topic" value="/astra_depth/points" />
        </node>
    </group>

</launch>
