<?xml version="1.0"?>
<launch>
    <!-- We probably need to have things use sim time -->
    <param name="use_sim_time" value="false" />
    <!-- Whether we want to use the PX4 collision avoidance package -->
    <arg name="use_avoidance" default="false"/>
    <!-- Whether to use SVO or ROVIO -->
    <arg name="use_svo" default="false"/>
    <arg name="use_rovio" default="true"/>
    <!-- Whether we should be recording data -->
    <arg name="record" defaul="false"/>

    <!-- Set up the Odometry interpretation for TF -->
    <include file="$(find drone_navigation)/launch/modules/util/mavros_pose_to_odom.launch"/>

    <!-- Also need the drone monitor to set up monitoring and compass correction -->
    <include file="$(find drone_navigation)/launch/simulation/drone_monitor.launch" />


    <!-- Launch the Global: Path File reader, which will just read up a file -->
    <include file="$(find drone_navigation)/launch/modules/global_planners/global_path_reader.launch">
        <arg name="path_file" value="$(find drone_navigation)/launch/missions/simulated/verification/sar_30m_1msep_9r.txt"/>
    </include>

    <!-- Running the live cameras! -->
    <include file="$(find ueye_cam)/launch/rgb8.launch"/>
    <include file="$(find astra_launch)/launch/astra.launch"/>

    <!-- = We need to have a VO solution running = -->
    <!-- SVO -->
    <group if="$(arg use_svo)">
        <include file="$(find svo_ros)/launch/live.launch">
            <arg name="camera_topic" value="/ids_camera/image_raw"/>
            <arg name="output" value="screen"/>
        </include>
        <node name="cam_pos_pub" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 3.14159 0 ids_ueye cam_pos"/>
        <!-- Launch svo_transformation node -->
        <include file="$(find svo_transform)/launch/svo_transform.launch"/>
    </group>
    <!-- ROVIO -->
    <group if="$(arg use_rovio)">
        <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
            <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
            <param name="camera0_config" value="$(find rovio)/cfg/ids_ueye.yaml"/>
            <!-- Remapping topics that Rovio looks for -->
            <remap from="cam0/image_raw" to="downward_camera/image_raw"/>
            <remap from="imu0" to="/mavros/imu/data"/>
        </node>
        <!-- Launch rovio_transformation node -->
        <include file="$(find svo_transform)/launch/rovio_transform.launch"/>
    </group>

    <!-- Launch the Local: Path Follower, which will get ready to follow paths -->
    <include file="$(find drone_navigation)/launch/modules/local_planners/local_path_follower.launch">
        <arg name="look_ahead" value="0.35"/>
        <arg name="loiter_duration" value="0.0"/>
        <arg name="use_avoidance" value="$(arg use_avoidance)"/>
    </include>

    <!-- Using the Collision Avoidance Package if enabled -->
    <group if="$(arg use_avoidance)">
<!--         <node ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <param name="stereo_algorithm" type="double" value="1.0" />
            <param name="correlation_window_size" type="double" value="19.0" />
            <param name="disparity_range" type="double" value="32.0" />
            <param name="uniqueness_ratio" type="double" value="40.0" />
            <param name="speckle_size" type="double" value="1000.0" />
            <param name="speckle_range" type="double" value="2.0" />
        </node> -->

        <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" >
            <param name="goal_x_param" value="0" />
            <param name="goal_y_param" value="0"/>
            <param name="goal_z_param" value="1" />
            <param name="depth_points_topic" value="/astra_depth/points" />
        </node>
    </group>

    <!-- ROSBAG record necessary data for the "2D" SLAM packages -->
    <group i="$(arg record)">
        <node name="rosbag_record_data" pkg="rosbag" type="record"
            args="record -o rovio_data /downward_camera/image_raw /downward_camera/camera_info /mavros/imu/data"/>
    </group>

</launch>
